# Node.js
node_modules/
dist/

# Astro
.astro/

# Environment files
.env
*.local

# Logs
logs/
.log
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc

# Other
.DS_Store
